# Dataset and output dirs
PPAN_RACH3_DIR="path to processed rach3"
PPAN_PIANOYT_DIR="path to pianoyt"
PPAN_MIDITEST_DIR="path to miditest"
PPAN_OMAPS_DIR="path to omaps"
PPAN_OUTPUT_DIR="path to checkpoint output dir"

PPAN_MODEL_CHECKPOINT="optional path to a checkpoint"

PPAN_PRETRAINED_MODEL=MCG-NJU/videomae-base

# Weights and Biases API key
WANDB_API_KEY="your api key"
# Very important, should be set to the number of GPUs on the machine
# the model is training on
PPAN_NO_GPU=1

PPAN_SEED=42

# Training config
PPAN_NO_EPOCHS=2
PPAN_EVAL_EVERY=50
PPAN_SAVE_EVERY=50
PPAN_BATCH_SIZE=1
PPAN_CLASS_WEIGHTS=3
PPAN_ADAM_BETA1=0.9
PPAN_ADAM_BETA2=0.95

# Instead of iterating through the whole test/train datasets, we can also
# just iterate through the first n samples.
PPAN_MAX_ITERS_PER_EPOCH_TEST=50
#PPAN_MAX_ITERS_PER_EPOCH_TRAIN=200

# Optimizer Config
PPAN_LR=1e-3
PPAN_WEIGHT_DECAY=0.05

# Scheduler Config
PPAN_WARMUP_RATIO=0.1
PPAN_SCHEDULER_TYPE="cosine"

## Evaluation Config
PPAN_EVAL_PREDS_OUTPUT="./eval.pkl"
PPAN_EVAL_MIDI_OUTPUT="./midi_preds/"
PPAN_EVAL_BATCH_SIZE=16
