PPAN_SEED=42

# This is used by the scripts to locate the package when installing
PPAN_REPO_ROOT="Path to the root of the repo"

# Datasets and output dirs
PPAN_RACH3_DIR="path to the R3s dataset"
PPAN_PIANOYT_DIR="path to pianoyt"
PPAN_MIDITEST_DIR="path to miditest"
PPAN_OMAPS_DIR="path to omaps"
PPAN_PROCESSED_DATASET_DIR="path to preprocessed dataset dir"

PPAN_OUTPUT_DIR="path to checkpoint output dir"

# Weights and Biases API key and project name
WANDB_API_KEY="your api key"
PPAN_WANDB_PROJECT_NAME="onset-detector"

# Used for dataset preprocessing. Should be set to the number of GPUs on the
# machine the program is running on.
PPAN_NO_GPU=1

# For compile_python.sh
PPAN_PYTHON_VERSION=3.11.7
PPAN_PYTHON_PREFIX="Where to store compiled Python"

# For preprocess.sh, if there's no FFMPEG in the PATH you can set it
# here.
PPAN_FFMPEG_LOC="path to folder with ffmpeg binary"


# Pre-Training config
PPAN_PRETRAIN_NO_EPOCHS=2
PPAN_PRETRAIN_EVAL_EVERY=50
PPAN_PRETRAIN_SAVE_EVERY=50
PPAN_PRETRAIN_BATCH_SIZE=1
PPAN_PRETRAIN_ADAM_BETA1=0.9
PPAN_PRETRAIN_ADAM_BETA2=0.95
PPAN_PRETRAIN_MASK_RATIO=0.95
## Optimizer
PPAN_PRETRAIN_LR=1e-3
PPAN_PRETRAIN_WEIGHT_DECAY=0.05
## LR Schedule
PPAN_PRETRAIN_WARMUP_RATIO=0.1
PPAN_PRETRAIN_SCHEDULER_TYPE="cosine"
## Augmentation Options
PPAN_PRETRAIN_AUG_GREYSCALE=True
PPAN_PRETRAIN_AUG_CROP_JITTER="-30:-5" # Interval within which to choose crop resize


# Fine-Tuning config
PPAN_PRETRAINED_MODEL_CHECKPOINT="path to a pretrained model checkpoint"
PPAN_FINETUNE_NO_EPOCHS=2
PPAN_FINETUNE_EVAL_EVERY=50
PPAN_FINETUNE_SAVE_EVERY=50
PPAN_FINETUNE_BATCH_SIZE=1
PPAN_FINETUNE_CLASS_WEIGHTS=3
PPAN_FINETUNE_ADAM_BETA1=0.9
PPAN_FINETUNE_ADAM_BETA2=0.95
## Optimizer
PPAN_FINETUNE_LR=1e-3
PPAN_FINETUNE_WEIGHT_DECAY=0.05
## LR Schedule
PPAN_FINETUNE_WARMUP_RATIO=0.1
PPAN_FINETUNE_SCHEDULER_TYPE="cosine"
## Augmentation Options
PPAN_FINETUNE_AUG_GREYSCALE=True
PPAN_FINETUNE_AUG_CROP_JITTER="-30:-5" # Interval within which to choose crop resize

# Evaluation Config
PPAN_EVAL_PREDS_OUTPUT="./eval.pkl"
PPAN_EVAL_MIDI_OUTPUT="./midi_preds/"
PPAN_EVAL_BATCH_SIZE=16
