Cython
numpy
scipy
mido
git+https://github.com/neosatrapahereje/rach3datautils@main#egg=rach3datautils
opencv-python
tqdm
tokenizers
tensorboard
partitura
timm
kornia
transformers[torch]
matplotlib
scikit-learn
pandas
datasets
torchvision
av
moviepy
imageio
plotly
