Cython==3.0.8
numpy==1.26.3
mido==1.3.2
git+https://github.com/neosatrapahereje/rach3datautils@main#egg=rach3datautils
tqdm==4.66.1
partitura==1.4.1
transformers[torch]==4.37.2
matplotlib==3.8.2
torchvision==0.17.0
mir_eval==0.7
python-dotenv==1.0.1
torch==2.2.0
pillow==10.2.0
nvidia-dali-cuda120==1.34.0
wandb==0.16.2
accelerate==0.26.1 
moviepy
imageio 
