Cython
numpy
scipy==1.12.0
mido
git+https://github.com/neosatrapahereje/rach3datautils@main#egg=rach3datautils
opencv-python
tqdm
tokenizers
tensorboard
partitura
timm
kornia
transformers[torch]==4.37.2
matplotlib
scikit-learn
pandas
datasets
torchvision
av
moviepy
imageio
plotly
mir_eval
python-dotenv
